body {
   background-color: #c1c1c1;
}


#title {
   position:absolute;
   top:105px;
   left:50%;
   transform: translate(-50%,-50%); /*  moves -50% of the body on x and y axis*/
   font-size: 4rem;
}

.search-box {
   position: absolute;
   top:220px;
   left: 50%;
   padding: 5px 30px;
   transform: translate(-50%,-50%);
   border: 1px solid #e8e8e8;
   border-radius: 50px;
   background-color: rgb(238, 238, 238);
}

#search {
   height:100%;
   border:none;
   transform: translate(-3%);
   background-color: rgb(238, 238, 238);
   font-size: 1.2rem;
   width: 500px;
   height: 35px;
   
}

/*used to delete the border of search when selected*/
input {
   /*outline: none;*/
}

#search-button {
   position: absolute;
   height:100%;
   top:0px;
   left:522px;
   background-color: #0000;
   border:none;
}