body {
   background-color: #c1c1c1;
}


.title {
   position:absolute;
   top:6.5625rem;
   left:50%;
   transform: translate(-50%,-50%); /*  moves -50% of the body on x and y axis*/
   font-size: 4rem;
}

.search-box {
   position: absolute;
   top:15.3rem;
   left: 50%;
   padding: 5px 70px;
   transform: translate(-50%,-50%);
   border: 1px solid #e8e8e8;
   border-radius: 50px;
   background-color: #e2e2e2;
   transition: 0.1s ease; /*ease specifies slow start then fast end*/
}
.search-box:hover {
   border-color: #000;
   transition: 0.1s ease;
}

.search {
   height:100%;
   border:none;
   transform: translate(-12%);
   background-color: #e2e2e2;
   font-size: 1.2rem;
   width: 30.5rem;
   height: 2.1875rem;
   
}

/*used to delete the border of search when selected*/
input {
   outline: none;
   clear: right;
}

.clear-icon {
   position:absolute;
   top:1.2rem;
   left:33rem;
   width:10px;
   height:10px;
}

/* Line image on search bar for style*/
.line{
   position:absolute;
   top:0.5rem;
   left:35.2rem;
   width:1px;
   height:30px;
}

.search-button {
   position: absolute;
   height:100%;
   top:0rem;
   left:36rem;
   background-color: #0000;
   cursor: pointer;
   border:none;
   transition: 0.1s ease;
}

.search-button:hover, .clear-icon:hover {
   transform: scale(1.2);
   transition: 0.1s ease;
}

.products{
   position: absolute;
   top:28rem;
   left:50%;
   transform: translate(-1516%);
   margin:0;
   padding:0;
}
/* Controls the box of the category*/
.technology li{
   display:inline;
   position:absolute;
   top:-4rem;
   left:1rem;
   list-style: none;   
   border: 1px solid #e8e8e8;
   border-radius: 4%;
   width: 13.625rem;
   height:16rem;
   overflow: hidden; /*hides objects that overflow the parent*/
   transition: 0.2s ease;
}.technology li:hover {
   border-color: #000;
   transition: 0.2s ease;
}.technology li:first-child{
   margin-left:0rem;
   background-color: #316888;
}.house_garden {
   margin-left:15rem;
   background-color: #7f6f56;
}.fashion {
   margin-left:30rem;
   background-color: #503367;
}.sports {
   margin-left:45rem;
   background-color: #863529;
}.pets {
   margin-left:60rem;
   background-color: #2e7557;
}
/* Controls the title of the category*/
.categorytitle{
   position:absolute;
   top:1rem;
   left:1rem;
   font-size: 1.4rem;
   text-align:left;
   color:white;   
   transition: 0.1s ease;
}.categorytitle:hover {
   border-bottom: 1px solid white;
   transform:scale(1.05);
   transition: 0.s ease;
}
/* Controls the headlines of the category */
.category li h3{
   position:relative;
   top:4rem;
   left:1.3rem;
   font-size: 1.1rem;
   font-weight: 100;
   margin:4px;
   text-align:left;
   color:white;   
   transition: 0.1s ease;
}.category li h3 span:hover{
   border-bottom: 1px solid white;
   font-size: 1.3rem;
   transition: 0.1s ease;
}.title a, .category li h3 a{
   text-decoration: none;
   color:inherit;
}

/* Controls the image of the category*/
.category li img{
   position:absolute;
   top:10.5rem;
   left:2.9rem;
   width:8rem;
   height:10rem;
}
