body {
   background-color: #c1c1c1;
}


#title {
   position:absolute;
   top:105px;
   left:50%;
   transform: translate(-50%,-50%); /*  moves -50% of the body on x and y axis*/
   font-size: 4rem;
}

.search-box {
   position: absolute;
   top:220px;
   left: 50%;
   padding: 5px 20px;
   transform: translate(-50%,-50%);
   border: 1px solid #e8e8e8;
   border-radius: 50px;
   background-color: rgb(238, 238, 238);
}

#search {
   width:80%;
   height:100%;
   transform: translate(0%,-28%);
   border:none;
   background-color: rgb(238, 238, 238);
   font-size: 1.2rem;
   width: 500px;
   
}

/*used to delete the border of search when selected*/
input {
   outline: none;
}

#search-button {
   height:100%;
   background-color: #0000;
   border:none;
}